{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>COVID-19 Follow Up</title>

	<!-- Global stylesheets -->
	<link href="{% static  'assets/css/fontcss.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static  'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static  'assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static  'assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static  'assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static  'assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static  'global_assets/css/icons/icomoon/styles.min.css' %} " rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

    {#Melih Custom#}
    <link href="{% static  'assets/custom.css' %}" rel="stylesheet" type="text/css">


	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'global_assets/js/main/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'global_assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'global_assets/js/plugins/ui/ripple.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'global_assets/js/plugins/maps/jvectormap/jvectormap.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/maps/jvectormap/map_files/world.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/maps/jvectormap/map_files/countries/usa.js' %}"></script>
	<script src="{% static   'global_assets/js/plugins/maps/jvectormap/map_files/countries/germany.js' %}"></script>
	<script src="{% static   'global_assets/demo_data/maps/vector/gdp_demo_data.js' %}"></script>

	<script src="{% static  'assets/js/app.js' %}"></script>
    <script src="{% static  'assets/js/sweetalert.min.js' %}"></script>
	<script src=" {% static 'global_assets/js/demo_pages/maps/vector/vector_maps_demo.js' %}"></script>
	<!-- /theme JS files -->


	<!--Select Box-->
	<script src=" {% static  'global_assets/js/plugins/extensions/jquery_ui/interactions.min.js' %}"></script>
	<script src=" {% static  'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script src=" {% static  'global_assets/js/demo_pages/form_select2.js' %}"></script>


	<!--Pie Donut-->
	<script src=" {% static  'global_assets/js/plugins/visualization/echarts/echarts.min.js' %}"></script>
	<script src=" {% static  'global_assets/js/demo_pages/charts/echarts/pies_donuts.js' %}"></script>



</head>

<body onload="myFunction()">




	<!-- Page content -->
	<div class="page-content">




		<!-- Main content -->
		<div class="content-wrapper">

			<div class="page-header page-header-dark text-center">
				<div class="page-header-content header-elements-inline">
					<div class="page-title" style="margin-left: auto; margin-right: auto;">
						<h3>
							CORONA VIRUS WORLD
						</h3>
					</div>


				</div>

				<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
					<div class="d-flex">
						<div class="breadcrumb">
							<a href="#" class="breadcrumb-item"><i class="icon-location3 mr-2"></i>{{country}}</a>
						</div>
					</div>
				</div>
			</div>


			<!-- Content area -->
			<div class="content">




                {#Your Country Information#}
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Your Country Is {{country}}</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>

		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="row">
							<div class="col-sm-6 col-xl-4">
								<div class="card card-body">
									<div class="media">
										<div class="mr-3 align-self-center">
											<i class=" icon-user-lock icon-3x text-blue-800"></i>
										</div>

										<div class="media-body text-right">
											<h3 id="guestTotalCases_id" class="font-weight-semibold mb-0">{{guestTotalCases}}</h3>
											<span class="text-uppercase font-size-sm text-muted">Total Cases</span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-xl-4">
								<div class="card card-body">
									<div class="media">
										<div class="mr-3 align-self-center">
											<i class="icon-stats-growth icon-3x text-danger-800"></i>
										</div>

										<div class="media-body text-right">
											<h3 id="guestTotalDeaths_id" class="font-weight-semibold mb-0">{{guestTotalDeaths}}</h3>
											<span class="text-uppercase font-size-sm text-muted">Total Deaths</span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-xl-4">
								<div class="card card-body">
									<div class="media">

                                        <div class="mr-3 align-self-center">
											<i class="icon-rotate-ccw3 icon-3x text-success-400"></i>
										</div>

										<div class="media-body text-right">
											<h3 id="guestTotalRecovered_id" class="font-weight-semibold mb-0">{{guestTotalRecovered}}</h3>
											<span class="text-uppercase font-size-sm text-muted">Total Recovered</span>
										</div>
									</div>
								</div>
							</div>


                            <div class="col-sm-6 col-xl-4">
								<div class="card card-body">
									<div class="media">

                                        <div class="mr-3 align-self-center">
											<i class="icon-user-lock icon-3x text-blue-400"></i>
										</div>

										<div class="media-body text-right">
											<h3 id="guestNewCases_id" class="font-weight-semibold mb-0">{{guestNewCases}}</h3>
											<span class="text-uppercase font-size-sm text-muted">New Cases</span>
										</div>


									</div>
								</div>
							</div>




							<div class="col-sm-6 col-xl-4">
								<div class="card card-body">
									<div class="media">

                                        <div class="mr-3 align-self-center">
											<i class="icon-user-cancel icon-3x text-danger-400"></i>
										</div>
										<div class="media-body text-right">
											<h3 id="guestNewDeaths_id" class="font-weight-semibold mb-0">-</h3>
											<span class="text-uppercase font-size-sm text-muted">New Deaths</span>
										</div>


									</div>
								</div>
							</div>



                            <div class="col-sm-6 col-xl-4">
								<div class="card card-body">
									<div class="media">
                                        <div class="mr-3 align-self-center">
											<i class="icon-chart icon-3x text-orange-400"></i>
										</div>

										<div class="media-body text-right">
											<h3 id="guestActiveCases_id" class="font-weight-semibold mb-0">{{guestActiveCases}}</h3>
											<span class="text-uppercase font-size-sm text-muted">Active Cases</span>
										</div>


									</div>
								</div>
							</div>

                            <small id="guest-country-info" class="text-orange-400" style="display: none;">*Some data may not have come from api provider</small>


						</div>
					</div>



				</div>


                  {#Country Compare#}
                <div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Contry Compare</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>

		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<!--Country Select1-->
						<div class="form-group col-6 col-md-5 col-sm-5" style="float: left;">
							<label>Select Country1</label>
							<select id="country1" class="form-control select-search" data-fouc>
                                {% for countryList in selectCountryList  %}
                                        <option value="{{countryList.alphaCode}}" data-capital="{{countryList.countryName}}">{{countryList.countryName}}</option>
                                {% endfor %}
							</select>
						</div>
						<!--Country Select2-->
						<div class="form-group col-6 col-md-5 col-sm-5" style="float: right;">
							<label>Select Country2</label>
							<select id="country2" class="form-control select-search" data-fouc>

                                    {% for countryList in selectCountryList  %}
                                        <option value="{{countryList.alphaCode}}" data-capital="{{countryList.countryName}}">{{countryList.countryName}}</option>
                                    {% endfor %}

							</select>
						</div>

						<div class="text-center" style="margin-top: 20px;">
                            <button type="button" onclick="CompareCountry()"  class="btn btn-danger rounded-round legitRipple col-12 col-md-3 col-sm-3" style="margin-top: 20px; margin-bottom:50px;">Compare</button>


                        </div>


						<!--Country Compare Table-->
						<div class="table-responsive">
							<table class="table  table-lg" id="compareTable" style="display: none;">
								<thead>
									<tr>
										<th>#</th>
										<th id="countryName1">Select Country1</th>
										<th  id="countryName2" >Select Country2</th>

									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Total Cases</td>
										<td id="totalCasesCountry1">180,789</td>
										<td id="totalCasesCountry2">180,789</td>

									</tr>
									<tr>
										<td>New Cases</td>
										<td id="newCasesCountry1" >-</td>
										<td id="newCasesCountry2" >+4,053</td>

									</tr>
									<tr>
										<td>Total Deaths</td>
										<td id="totalDeathsCountry1" >8,269</td>
										<td id="totalDeathsCountry2"  >8,269</td>

									</tr>
									<tr>
										<td>New Deaths</td>
										<td id="newDeathsCountry1"  >+37</td>
										<td id="newDeathsCountry2" >+37</td>
									</tr>

									<tr>
										<td>Total Recovered</td>
										<td id="totalRecoveredCountry1"  >15,824</td>
										<td id="totalRecoveredCountry2"  >15,824</td>
									</tr>


									<tr>
										<td>Active Cases</td>
										<td id="activeCasesCountry1"  >54,479</td>
										<td id="activeCasesCountry2"  >54,479</td>
									</tr>
								</tbody>
							</table>
                             <small id="table-info" class="text-orange-400" style="display: none;">*Some data may not come in the table above</small>
						</div>


					</div>
				</div>


				<!-- Choropleth map -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Coronavirus World</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
{#						<p class="mb-3">coronavirus cases by country</p>#}
                        <div class="row" style="margin-top: 30px;">

                    <div class="col-sm-6 col-xl-4">
						<div class="card card-body bg-blue-600 has-bg-image">
							<div class="media">
								<div class="media-body">
									<h3 class="mb-0">{{ WorldResultData.totalCases }}</h3>
									<span class="text-uppercase font-size-xs">World Total Cases</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-stats-growth2 icon-3x opacity-75"></i>
								</div>
							</div>
						</div>
					</div>


					<div class="col-sm-6 col-xl-4">
						<div class="card card-body has-bg-image bg-danger-700  ">
							<div class="media">
								<div class="media-body">
									<h3 class="mb-0">{{WorldResultData.totalDeaths}}</h3>
									<span class="text-uppercase font-size-xs">World Total Deaths</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-user-minus icon-3x opacity-75"></i>
								</div>
							</div>
						</div>
					</div>



					<div class="col-sm-6 col-xl-4">
						<div class="card card-body bg-success-600 has-bg-image">
							<div class="media">
								<div class="mr-3 align-self-center">
									<i class="icon-user-check icon-3x opacity-75"></i>
								</div>

								<div class="media-body text-right">
									<h3 class="mb-0">{{ WorldResultData.totalRecovered }}</h3>
									<span class="text-uppercase font-size-xs">World Total Recovered</span>
								</div>
							</div>
						</div>
					</div>


				</div>
						<div class="map-container map-choropleth"></div>

					</div>



				</div>
				<!-- /choropleth map -->


			</div>
			<!-- /content area -->


			<!-- Footer -->
			<div class="navbar navbar-expand-lg navbar-light">
				<div class="text-center d-lg-none w-100">
					<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
						<i class="icon-unfold mr-2"></i>
						Footer
					</button>
				</div>

				<div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						&copy; 2020 <a href="#">Corona Virus World</a> by <a href="#" target="_blank">Melih BALTACI</a>
					</span>
				</div>
			</div>
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->



    <script>

       window.onload = function () {

                if("{{ guestTotalCases }}"==""){
                    document.getElementById("guestTotalCases_id").innerText="-";
                    document.getElementById("guest-country-info").style.display="block";
                }
                else{
                    document.getElementById("guestTotalCases_id").innerText="{{ guestTotalCases }}";
                }

                if("{{ guestNewCases }}"==""){
                    document.getElementById("guestNewCases_id").innerText="-";
                    document.getElementById("guest-country-info").style.display="block";
                }
                else{
                    document.getElementById("guestTotalCases_id").innerText="{{ guestNewCases }}";
                }

                if("{{ guestTotalDeaths }}"==""){
                    document.getElementById("guestTotalDeaths_id").innerText="-";
                    document.getElementById("guest-country-info").style.display="block";
                }
                else{
                    document.getElementById("guestTotalDeaths_id").innerText="{{ guestTotalDeaths }}";
                }


                if("{{ guestNewDeaths }}"==""){
                    document.getElementById("guestNewDeaths_id").innerText="-";
                    document.getElementById("guest-country-info").style.display="block";
                }
                else{
                    document.getElementById("guestNewDeaths_id").innerText="{{ guestNewDeaths }}";
                }


                if("{{ guestTotalRecovered }}"==""){
                    document.getElementById("guestTotalRecovered_id").innerText="-";
                    document.getElementById("guest-country-info").style.display="block";
                }
                else{
                    document.getElementById("guestTotalRecovered_id").innerText="{{ guestTotalRecovered }}";
                }


                if("{{ guestActiveCases }}"==""){
                    document.getElementById("guestActiveCases_id").innerText="-";
                    document.getElementById("guest-country-info").style.display="block";
                }
                else{
                    document.getElementById("guestActiveCases_id").innerText="{{ guestActiveCases }}";
                }

            };





        function CompareCountry() {

            var country1=document.getElementById("select2-country1-container").title;
            var country2=document.getElementById("select2-country2-container").title;


            {% for result in resultdata %}

            if( country1 == "{{result.country}}" ){

                if ("{{ result.country }}" ==""){
                    swal("Not Found!", "Country not found. Please select another country. ", "info");
                }
                else{
                    document.getElementById("compareTable").style.display="inline-table";
                    document.getElementById("countryName1").innerText="{{ result.country }}";

                }


                if ("{{ result.totalCases }}"==""){
                    document.getElementById("totalCasesCountry1").innerText="-";
                    document.getElementById("table-info").style.display="block";
                }
                else{
                    document.getElementById("totalCasesCountry1").innerText="{{ result.totalCases }}";
                }


                if ("{{ result.newCases }}"==""){
                    document.getElementById("newCasesCountry1").innerText="-";
                    document.getElementById("table-info").style.display="block";
                }
                else{
                    document.getElementById("newCasesCountry1").innerText="{{ result.newCases }}";
                }


                if ("{{ result.totalDeaths }}"==""){
                    document.getElementById("totalDeathsCountry1").innerText="-";
                    document.getElementById("table-info").style.display="block";
                }
                else{
                    document.getElementById("totalDeathsCountry1").innerText="{{ result.totalDeaths }}";
                }


                if ("{{ result.newDeaths }}"==""){
                    document.getElementById("newDeathsCountry1").innerText="-";
                    document.getElementById("table-info").style.display="block";
                }
                else{
                    document.getElementById("newDeathsCountry1").innerText="{{ result.newDeaths }}";
                }


                if ("{{ result.totalRecovered }}"==""){
                    document.getElementById("totalRecoveredCountry1").innerText="-";
                    document.getElementById("table-info").style.display="block";
                }
                else{
                    document.getElementById("totalRecoveredCountry1").innerText="{{ result.totalRecovered }}";
                }


                if ("{{ result.activeCases }}"==""){
                    document.getElementById("activeCasesCountry1").innerText="-";
                    document.getElementById("table-info").style.display="block";
                }
                else{
                    document.getElementById("activeCasesCountry1").innerText="{{ result.activeCases }}";
                }


            };


             if(country2 == "{{ result.country }}"){
                if ("{{ result.country }}" ==""){
                    swal("Not Found!", "Country not found. Please select another country. ", "info");
                }
                else{
                    document.getElementById("countryName2").innerText="{{ result.country }}";
                }


                if ("{{ result.totalCases }}"==""){
                    document.getElementById("totalCasesCountry2").innerText="-";
                    document.getElementById("table-info").style.display="block";
                }
                else{
                    document.getElementById("totalCasesCountry2").innerText="{{ result.totalCases }}";
                }


                if ("{{ result.newCases }}"==""){
                    document.getElementById("newCasesCountry2").innerText="-";
                    document.getElementById("table-info").style.display="block";
                }
                else{
                    document.getElementById("newCasesCountry2").innerText="{{ result.newCases }}";
                }


                if ("{{ result.totalDeaths }}"==""){
                    document.getElementById("totalDeathsCountry2").innerText="-";
                    document.getElementById("table-info").style.display="block";
                }
                else{
                    document.getElementById("totalDeathsCountry2").innerText="{{ result.totalDeaths }}";
                }


                if ("{{ result.newDeaths }}"==""){
                    document.getElementById("newDeathsCountry2").innerText="-";
                    document.getElementById("table-info").style.display="block";
                }
                else{
                    document.getElementById("newDeathsCountry2").innerText="{{ result.newDeaths }}";
                }


                if ("{{ result.totalRecovered }}"==""){
                    document.getElementById("totalRecoveredCountry2").innerText="-";
                    document.getElementById("table-info").style.display="block";
                }
                else{
                    document.getElementById("totalRecoveredCountry2").innerText="{{ result.totalRecovered }}";
                }


                if ("{{ result.activeCases }}"==""){
                    document.getElementById("activeCasesCountry2").innerText="-";
                    document.getElementById("table-info").style.display="block";
                }
                else{
                    document.getElementById("activeCasesCountry2").innerText="{{ result.activeCases }}";
                }



            };

            {% endfor %}

        }



    </script>

<script type="text/javascript">


var gdpData = {


   {% for list in thumbnail_list  %}
"{{list.alphaCode}}":"{{list.value}}" ,
    {% endfor %}

};



</script>


</body>
</html>
